/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ///////////////////////////////Custom CSS////////////////////////////////////////////////////////////// */
:root {
  --dark-bg: #121212; /*Primary Background Colour*/
  --secondary-bg: #2c2c2c; /*Use it for card backgrounds, sidebars, or modal backgrounds to create depth and layering on the primary dark background.*/
  --accent-blue: #007bff; /*A vibrant blue that works well for highlighting active elements, buttons, and links. It stands out against the dark background and guides the user's focus.*/
  --accent-green: #00a896; /*A soothing green, excellent for success messages, icons, or progress bars. It pairs beautifully with dark themes and electric blue.*/
  --text-color: #e0e0e0; /*Provides excellent contrast against dark backgrounds, ensuring readability without being too harsh on the eyes.*/
  --subtle-text: #b3b3b3; /*Ideal for less important texts, such as secondary information, captions, or descriptions, providing a hierarchy of information through color.*/
  --highlight-color: #e63946; /*Ideal for less important texts, such as secondary information, captions, or descriptions, providing a hierarchy of information through color.*/
}

[data-theme="light"] {
  --dark-bg: #ffffff;
  --highlight-color: #007bff;
  --text-color: black;
  --subtle-text: black;
  --secondary-bg: #b3b3b3;
  --projects-section-hover-background: rgba(0, 123, 255, 0.2);
  --navbar-background: rgb(245, 245, 245);
  --experience-background: rgb(245, 245, 245);
  --skills-background: rgb(245, 245, 245);
  --skills-icon-background: #ffffff;
  --scrollbar-hover-background: #1c74d2;
}

[data-theme="dark"] {
  --dark-bg: #121212;
  --highlight-color: #e63946;
  --text-color: #e0e0e0;
  --secondary-bg: #2c2c2c;
  --projects-section-hover-background: rgba(230, 57, 70, 0.2);
  --navbar-background: #181818;
  --experience-background: #181818;
  --skills-background: #181818;
  --skills-icon-background: #e0e0e0;
  --scrollbar-hover-background: #b23740;
}

body {
  background-color: var(--dark-bg);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  /* background style */
  /* --dot-bg: black;
  --dot-color: white;
  --dot-size: 1px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color); */
  transition: background-color 0.4s ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 2rem;
}

a,
.button {
  color: white;
  cursor: pointer;
}
.highlight-color {
  color: var(--highlight-color);
}

.button {
  background-color: var(--accent-blue);
}
a:hover,
.button:hover {
  color: var(--highlight-color);
}

.secondary-text {
  color: var(--subtle-text);
}

.card-background {
  background-color: var(--secondary-bg);
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  background: transparent;
  backdrop-filter: blur(3px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.logo {
  width: 48px;
  height: 48px;
}

.resumebtn {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumebtn i {
  margin-right: 5px;
}

.switch-theme {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2em;
}

.switch-theme:hover {
  color: var(--highlight-color);
}

#home {
  margin-top: 10em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 14em;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  /* border: 2px solid cadetblue; */
}

.main-img {
  width: 25%;
  border-radius: 50%;
}

#home h1 {
  font-size: 5em;
  margin-bottom: 0.2em;
  font-weight: 500;
}

#home h2 {
  font-size: 3em;
  margin-bottom: 0.2em;
  font-weight: 500;
}

#home p {
  width: 90%;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 400;
}

.main-content {
  width: 45%;
}

.profile {
  margin-top: 2em;
  font-size: 1.5em;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20;
}

.profile > a {
  transition: all 200ms;
  color: var(--text-color);
}

.profile > a:hover {
  transform: scale(1.4);
  color: var(--highlight-color);
}

/* .profile > a > i:hover {
  color: var(--highlight-color) !important;
} */

/* #skills { */
/* margin-top: 4em; */
/* } */

#skills h2 {
  font-size: 3em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  font-weight: 500;
  color: var(--highlight-color);
}

.skills-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--skills-background);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2em;
}

.skills-container svg {
  width: 6rem;
  background-color: var(--skills-icon-background);
  border-radius: 50%;
  padding: 1em;
}
.flex-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.icon-p {
  margin-top: 0.9em;
  font-weight: 700;
}

#experiece {
  /* margin-top: 9em; */
  margin-left: 6em;
  margin-right: 6em;
  margin-top: 4em;
}

#experiece h2 {
  font-size: 3em;
  margin-bottom: 1em;
  color: var(--highlight-color);
  font-weight: 500;
}

.exp-block {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin-bottom: 2em;
  /* background-color: var(--secondary-bg); */
  border-radius: 1em;
  padding: 0.5em;
}

.exp-block:hover {
  background-color: var(--experience-background);
  /* border: 2px solid white; */
}

.exp-content-block {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.exp-content-block > h3 {
  font-weight: 500;
  font-size: 1.2rem;
}

.experience-date {
  font-weight: 500;
  font-size: 1.2rem;
}

.exp-ul {
  list-style-type: disc;
  /* list-style-position: inside; */
  text-align: left;
  margin-top: 0.7em;
  color: var(--text-color);
}

.exp-ul li {
  margin-bottom: 0.7em;
  line-height: 1.3;
  font-weight: 400;
  font-size: medium;
}

.exp-header {
  width: 15%;
}

/* Swiper css */
.swiper {
  width: 100%;
  height: 100%;
  /* height: 30rem; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--dark-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(
    --highlight-color
  ) !important; /* Change this to your desired color */
}

/* Customizing the pagination bullets */
.swiper-pagination-bullet {
  background-color: var(
    --text-color
  ) !important; /*Change this to your desired color for inactive bullets*/
}

.swiper-pagination-bullet-active {
  background-color: var(
    --highlight-color
  ) !important; /* Change this to your desired color for the active bullet */
}

/*//////////////////////////////////////////////*/

.project-container {
  /* background-color: var(--secondary-bg); */
  width: 80%;
  height: 20rem;
  margin: 5em auto;
  border-radius: 0.5em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.project-img > img {
  width: 100%;
  /* height: 50%; */
  border-radius: 0.5em;
  object-fit: fill;
  aspect-ratio: 16/11;
  transition: transform 400ms;
  cursor: pointer;
}

.project-img > img:hover {
  transform: scale(1.01);
}

.project-img {
  width: 60%;
}
.project-description > h2 {
  font-weight: 500;
  font-size: 1.4rem;
}

.project-description p {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  /* width: 55%; */
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 40%;
}

.project-button-container {
  display: flex;
  flex-direction: row;
  gap: 20;
}

.project-button-container > a {
  border: 2px solid var(--highlight-color);
  padding: 0.3em 1em;
  color: var(--highlight-color);
  text-decoration: none;
  transition: transform 400ms;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: baseline;
  gap: 6;
  border-radius: 1em;
}

.project-button-container > a > svg {
  color: var(--highlight-color);
}

.project-button-container > a:hover {
  background-color: var(--projects-section-hover-background);
  transform: scale(1.1);
}

.project-description > h2 {
  color: var(--highlight-color);
  font-weight: 500;
}

.project-button-container > svg {
  color: var(--highlight-color);
  width: 2px;
}

.live-app-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--highlight-color);
}

#projects {
  /* margin-top: 4em; */
  margin-left: 6em;
  margin-right: 6em;
}

#projects > h2 {
  font-size: 3rem;
  margin-bottom: 0.4em;
  color: var(--highlight-color);
  font-weight: 500;
}

footer {
  background-color: var(--navbar-background);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30;
  color: var(--subtle-text);
}

footer a {
  text-decoration: none;
}

#Capa_1 {
  width: 2em;
  height: 2em;
}

.flex-row-direction {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30;
}

footer > p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--highlight-color);
}
footer a {
  transition: transform 200ms;
  color: var(--subtle-text);
  font-size: 1rem;
  font-weight: 400;
}

footer a:hover {
  transform: scale(1.2);
}

footer i {
  color: var(--highlight-color);
}

footer svg {
  color: var(--highlight-color);
}

.copyright {
  font-size: 1rem;
  font-weight: 400;
}

.anchor-blur {
  filter: blur(2px);
}

.hidden {
  display: none;
}

/* ///////////////////////////////////////// Theme toggle button ////////////////////////////////////////////////////// */
/* Container for the switch - positions the slider */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Icons styling */
.icon {
  position: absolute;
  transition: opacity 0.4s;
}

.sun {
  opacity: 0;
  right: 5px; /* Positioning the sun icon on the right */
  top: 7px;
}

.moon {
  opacity: 1;
  left: 5px; /* Positioning the moon icon on the left */
  top: 7px;
}

/* Toggle the icon's visibility on switch */
input:checked + .slider .sun {
  opacity: 1;
}

input:checked + .slider .moon {
  opacity: 0;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Optional: adds more roundness to the slider */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.skills-container svg {
  transition: all 100ms;
  cursor: pointer;
}

.skills-container svg:hover {
  background-color: var(--highlight-color);
}

.skills-container div {
  transition: all 100ms;
  cursor: pointer;
}

.skills-container div:hover {
  transform: scale(1.1);
}

section {
  z-index: 9;
}

footer {
  z-index: 9;
  position: relative;
}
.display-flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
/* //////////////////////////////////////////ScrollBar/////////////////////////////////////////////////////// */ /* 
width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--highlight-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-background);
}

/* ////////////////////////////////Hamburger Menu///////////////////////////////////////////////////////// */

.navlinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40;
  min-width: 60%;
}

.navlinks a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  color: var(--text-color);
}

.navlinks a:hover {
  color: var(--highlight-color);
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 10px;
  /* background-color: #333; */
  background-color: var(--dark-bg);
  border: 1px solid #444;
  width: 200px;
  z-index: 1;
}

.dropdown a {
  color: var(--text-color);
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #444;
}

.dropdown a:hover {
  background-color: #575757;
  color: var(--highlight-color);
}

/* CSS transition */
.section {
  /* border-top: 1px solid #ddd; */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.section--hidden {
  opacity: 0;
  transform: translateY(1rem);
}
.section--about {
  opacity: 0;
  transform: translateY(1rem);
}

.navbar--hidden {
  opacity: 0;
  transform: translateY(1rem);
}

/* Styles for the hamburger menu at the breakpoint */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navlinks {
    display: none;
  }
}

/*//////////////////////////////////////////////// Media Queries //////////////////////////////////////////////////*/
@media (max-width: 320px) {
  /* Your CSS rules for extra small devices */

  /* Section: About/Home */
  #home {
    margin-top: 5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex-direction: column-reverse;
  }
  .main-content {
    width: 100%;
    text-align: center;
  }
  #home h1 {
    /* font-size: 2em;
    font-weight: 400; */
    font-size: 3em;
    font-weight: 500;
  }
  #home h2 {
    font-size: 2.2em;
    font-weight: 500;
  }
  #home p {
    width: 100%;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.2;
  }
  .profile {
    justify-content: center;
    margin-top: 1em;
  }
  .main-img {
    width: 40%;
    margin-bottom: 1em;
  }

  /* Section: Experience */
  #experiece {
    margin-top: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #experiece h2 {
    text-align: center;
  }
  .exp-block {
    flex-direction: column;
    align-items: center;
    background-color: var(--experience-background);
  }
  .exp-header {
    width: 100%;
    text-align: center;
    margin-bottom: 0.2em;
  }
  .exp-content-block {
    width: 100%;
  }

  .exp-content-block > h3 {
    text-align: center;
    width: 100%;
  }

  .exp-ul {
    text-align: justify;
  }

  /* Section: Skills */
  #skills {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  #skills h2 {
    text-align: center;
  }

  .skills-container {
    width: 100%;
  }

  .skills-container svg {
    height: 4rem;
    width: 4rem;
  }

  /* Section: Projects */
  #projects {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #projects > h2 {
    text-align: center;
  }
  .project-container {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    margin: 8em auto 5em auto;
  }
  .project-description {
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  .project-description p {
    text-align: center;
  }

  .project-button-container > a {
    padding: 0.2em 0.5em;
  }

  .project-img {
    width: 70%;
  }
  /* Footer */
  footer {
    padding: 10px;
  }

  .flex-row-direction {
    flex-direction: column;
  }
}
/* Extra small devices (phones, 320px and up) */
@media (min-width: 320px) and (max-width: 480px) {
  /* Your CSS rules for extra small devices */

  /* Section: About/Home */
  #home {
    margin-top: 7em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex-direction: column-reverse;
  }
  .main-content {
    width: 100%;
    text-align: center;
  }
  #home h1 {
    /* font-size: 2em;
    font-weight: 400; */
    font-size: 3em;
    font-weight: 500;
  }
  #home h2 {
    font-size: 2.2em;
    font-weight: 500;
  }
  #home p {
    width: 100%;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.2;
  }
  .profile {
    justify-content: center;
    margin-top: 1em;
  }
  .main-img {
    width: 40%;
    margin-bottom: 1em;
  }

  /* Section: Experience */
  #experiece {
    margin-top: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #experiece h2 {
    text-align: center;
  }
  .exp-block {
    flex-direction: column;
    align-items: center;
    background-color: var(--experience-background);
  }
  .exp-header {
    width: 100%;
    text-align: center;
    margin-bottom: 0.2em;
  }
  .exp-content-block {
    width: 100%;
  }

  .exp-content-block > h3 {
    text-align: center;
    width: 100%;
  }

  .exp-ul {
    text-align: justify;
  }

  /* Section: Skills */
  #skills {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  #skills h2 {
    text-align: center;
  }

  .skills-container {
    width: 100%;
  }

  .skills-container svg {
    height: 4rem;
    width: 4rem;
  }

  /* Section: Projects */
  #projects {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #projects > h2 {
    text-align: center;
  }
  .project-container {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    margin: 8em auto 5em auto;
  }
  .project-description {
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  .project-description p {
    text-align: center;
  }

  .project-button-container > a {
    padding: 0.2em 0.5em;
  }

  .project-img {
    width: 70%;
  }
  /* Footer */
  footer {
    padding: 10px;
  }

  .flex-row-direction {
    flex-direction: column;
  }
}

@media (min-width: 480px) and (max-width: 550px) {
  /* Your CSS rules for extra small devices */

  /* Section: About/Home */
  #home {
    margin-top: 7em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex-direction: column-reverse;
  }
  .main-content {
    width: 100%;
    text-align: center;
  }
  #home h1 {
    /* font-size: 2em;
    font-weight: 400; */
    font-size: 3em;
    font-weight: 500;
  }
  #home h2 {
    font-size: 2.2em;
    font-weight: 500;
  }
  #home p {
    width: 100%;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.2;
  }
  .profile {
    justify-content: center;
    margin-top: 1em;
  }
  .main-img {
    width: 40%;
    margin-bottom: 1em;
  }

  /* Section: Experience */
  #experiece {
    margin-top: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #experiece h2 {
    text-align: center;
  }
  .exp-block {
    flex-direction: column;
    align-items: center;
    background-color: var(--experience-background);
  }
  .exp-header {
    width: 100%;
    text-align: center;
    margin-bottom: 0.2em;
  }
  .exp-content-block {
    width: 100%;
  }

  .exp-content-block > h3 {
    text-align: center;
    width: 100%;
  }

  .exp-ul {
    text-align: justify;
  }

  /* Section: Skills */
  #skills {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  #skills h2 {
    text-align: center;
  }

  .skills-container {
    width: 100%;
  }

  .skills-container svg {
    height: 4rem;
    width: 4rem;
  }

  /* Section: Projects */
  #projects {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #projects > h2 {
    text-align: center;
  }
  .project-container {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    margin: 8em auto 5em auto;
  }
  .project-description {
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  .project-description p {
    text-align: center;
  }

  .project-button-container > a {
    padding: 0.2em 0.5em;
  }

  .project-img {
    width: 70%;
  }
  /* Footer */
  footer {
    padding: 10px;
  }

  .flex-row-direction {
    flex-direction: column;
  }
}

@media (min-width: 550px) and (max-width: 708px) {
  /* Your CSS rules for extra small devices */

  /* Section: About/Home */
  main {
    gap: 125px;
  }
  #home {
    margin-top: 7em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex-direction: column-reverse;
  }
  .main-content {
    width: 100%;
    text-align: center;
  }
  #home h1 {
    /* font-size: 2em;
    font-weight: 400; */
    font-size: 3em;
    font-weight: 500;
  }
  #home h2 {
    font-size: 2.2em;
    font-weight: 500;
  }
  #home p {
    width: 100%;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.2;
  }
  .profile {
    justify-content: center;
    margin-top: 1em;
  }
  .main-img {
    width: 30%;
    margin-bottom: 1em;
  }

  /* Section: Experience */
  #experiece {
    margin-top: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #experiece h2 {
    text-align: center;
  }
  .exp-block {
    flex-direction: column;
    align-items: center;
    background-color: var(--experience-background);
  }
  .exp-header {
    width: 100%;
    text-align: center;
    margin-bottom: 0.2em;
  }
  .exp-content-block {
    width: 100%;
  }

  .exp-content-block > h3 {
    text-align: center;
    width: 100%;
  }

  .exp-ul {
    text-align: justify;
  }

  /* Section: Skills */
  #skills {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  #skills h2 {
    text-align: center;
  }

  .skills-container {
    width: 100%;
  }

  .skills-container svg {
    height: 4rem;
    width: 4rem;
  }

  /* Section: Projects */
  #projects {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #projects > h2 {
    text-align: center;
  }
  .project-container {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    margin: 8em auto 5em auto;
  }
  .project-description {
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  .project-description p {
    text-align: center;
  }

  /* .project-button-container > a {
    padding: 0.2em 0.5em;
  } */

  .project-img {
    width: 70%;
  }
  /* Footer */
  footer {
    padding: 10px;
  }

  .flex-row-direction {
    flex-direction: row;
  }

  footer a {
    font-size: 0.7rem;
    font-weight: 500;
  }
}
@media (min-width: 708px) and (max-width: 768px) {
  /* Your CSS rules for extra small devices */

  /* Section: About/Home */
  #home {
    margin-top: 7em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex-direction: column-reverse;
  }
  .main-content {
    width: 100%;
    text-align: center;
  }
  #home h1 {
    /* font-size: 2em;
    font-weight: 400; */
    font-size: 3em;
    font-weight: 500;
  }
  #home h2 {
    font-size: 2.2em;
    font-weight: 500;
  }
  #home p {
    width: 100%;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.2;
  }
  .profile {
    justify-content: center;
    margin-top: 1em;
  }
  .main-img {
    width: 30%;
    margin-bottom: 1em;
  }

  /* Section: Experience */
  #experiece {
    margin-top: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #experiece h2 {
    text-align: center;
  }
  .exp-block {
    flex-direction: column;
    align-items: center;
    background-color: var(--experience-background);
  }
  .exp-header {
    width: 100%;
    text-align: center;
    margin-bottom: 0.2em;
  }
  .exp-content-block {
    width: 100%;
  }

  .exp-content-block > h3 {
    text-align: center;
    width: 100%;
  }

  .exp-ul {
    text-align: justify;
  }

  /* Section: Skills */
  #skills {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  #skills h2 {
    text-align: center;
  }

  .skills-container {
    width: 100%;
  }

  .skills-container svg {
    height: 4rem;
    width: 4rem;
  }

  /* Section: Projects */
  #projects {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #projects > h2 {
    text-align: center;
  }
  .project-container {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    margin: 8em auto 5em auto;
  }
  .project-description {
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  .project-description p {
    text-align: center;
  }

  /* .project-button-container > a {
    padding: 0.2em 0.5em;
  } */

  .project-img {
    width: 70%;
  }
  /* Footer */
  footer {
    padding: 10px;
  }

  .flex-row-direction {
    flex-direction: row;
  }

  footer a {
    font-size: 1rem;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Section: Home/About */
  #home {
    margin-top: 13em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .main-content {
    width: 100%;
  }

  #home h1 {
    font-size: 3.2em;
    font-weight: 500;
  }

  #home h2 {
    font-size: 2.4em;
    font-weight: 500;
  }
  #home p {
    width: 90%;
    text-align: left;
    line-height: 1.2;
    font-weight: 400;
  }
  .profile {
    margin-top: 1em;
  }
  .main-img {
    width: 30%;
  }

  /* Section: Experience */
  #experiece {
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
  }
  #experiece h2 {
    text-align: center;
  }

  .exp-block {
    gap: 10px;
  }

  .exp-header {
    width: auto;
  }

  .exp-content-block {
    width: 65%;
  }

  /* Section: Skills */

  #skills {
    margin-left: 1em;
    margin-right: 1em;
  }

  #skills h2 {
    text-align: center;
  }
  .skills-container {
    width: 100%;
  }
  .skills-container svg {
    height: 5em;
    width: 5em;
  }

  /* Section: Projects */
  #projects {
    margin-left: 1em;
    margin-right: 1em;
  }

  #projects > h2 {
    text-align: center;
  }
  .project-container {
    gap: 22px;
    width: 85%;
    padding: 0em;
    margin: 3em auto;
  }
  .project-description {
    width: 45%;
    gap: 10px;
  }
  .project-description p {
    width: 100%;
  }
  .project-button-container > a {
    padding: 0.3em 0.5em;
  }
  .project-img {
    width: 55%;
  }
}
/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) and (max-width: 1280) {
  /* Section: Home/About */
  #home {
    margin-top: 13em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .main-content {
    width: 60%;
  }

  #home h1 {
    font-size: 4em;
    font-weight: 500;
  }

  #home h2 {
    font-size: 3em;
    font-weight: 500;
  }
  #home p {
    width: 100%;
    line-height: 1.2;
    font-weight: 400;
  }
  .profile {
    margin-top: 1em;
  }
  .main-img {
    width: 20%;
  }
  /* Section: Experience */
  #experiece {
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
  }
  #experiece h2 {
    text-align: center;
  }

  .exp-block {
    width: 100%;
  }

  .exp-header {
    width: auto;
  }

  .exp-content-block {
    width: 65%;
  }

  /* Section: Skills */

  #skills {
    margin-left: 1em;
    margin-right: 1em;
  }

  #skills h2 {
    text-align: center;
  }
  .skills-container {
    width: 100%;
  }

  /* Section: Projects */
  #projects {
    margin-left: 1em;
    margin-right: 1em;
  }

  #projects > h2 {
    text-align: center;
  }
  .project-container {
    width: 80%;
  }
  .project-description {
    width: 45%;
    gap: 10px;
  }
  .project-description p {
    width: 100%;
  }

  .project-img {
    width: 55%;
  }
}
/* Extra large devices (large desktops, 1280px and up) */
@media (min-width: 1280) and (max-width: 1920) {
  /* Section: Home/About */
  main {
    gap: 130px;
  }
  #home {
    margin-top: 15em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .main-content {
    width: 50%;
  }

  #home h1 {
    font-size: 4em;
    font-weight: 500;
  }

  #home h2 {
    font-size: 3em;
    font-weight: 500;
  }
  #home p {
    width: 100%;
    line-height: 1.2;
    font-weight: 400;
  }
  .profile {
    margin-top: 1em;
  }
  .main-img {
    width: 20%;
  }
  /* Section: Experience */
  #experiece {
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
  }
  #experiece h2 {
    text-align: center;
  }

  .exp-block {
    width: 90%;
    margin: 2em auto 2em auto;
  }

  .exp-header {
    width: auto;
  }

  .exp-content-block {
    width: 65%;
  }

  /* Section: Skills */

  #skills {
    margin-left: 1em;
    margin-right: 1em;
  }

  #skills h2 {
    text-align: center;
  }
  .skills-container {
    width: 70%;
  }

  /* Section: Projects */
  #projects {
    margin-left: 5em;
    margin-right: 5em;
  }

  #projects > h2 {
    text-align: center;
  }
  .project-container {
    width: 80%;
  }
  .project-description {
    width: 45%;
    gap: 10px;
  }
  .project-description p {
    width: 100%;
  }

  .project-img {
    width: 55%;
  }
}
/* Very large devices (extra large desktops, 1920px and up) */
@media (min-width: 1920) {
  .navlinks a {
    font-size: 2em;
  }
  #home {
    margin-left: 5em;
    margin-right: 5em;
  }
  #home p {
    font-size: 1.7rem;
    line-height: 1.3;
  }
  .profile {
    font-size: 2em;
  }
  #experiece {
    margin-left: 13em;
    margin-right: 13em;
  }
  #experiece h2 {
    text-align: center;
    font-size: 4em;
  }

  .exp-ul li {
    font-size: x-large;
  }
  .exp-content-block > h3,
  .experience-date {
    font-size: 1.5rem;
  }
  .exp-header {
    width: 20%;
  }

  #skills {
    margin-left: 13em;
    margin-right: 13em;
  }

  #skills h2 {
    text-align: center;
    font-size: 4em;
  }

  .skills-container {
    width: 90%;
  }

  .skills-container svg {
    height: 10rem;
    width: 10rem;
  }

  .icon-p {
    font-size: x-large;
  }

  #projects {
    margin-left: 13em;
    margin-right: 13em;
  }

  #projects > h2 {
    text-align: center;
    font-size: 4em;
  }

  .project-container {
    margin: 15em auto 15em auto;
  }

  .project-description > h2 {
    font-size: 2.5rem;
  }

  .project-description p {
    font-size: 1.8rem;
  }
  .project-button-container > a {
    font-size: 1.5rem;
  }
  footer > p {
    font-size: 2.4rem;
  }

  footer a {
    font-size: 1.7rem;
  }
  .copyright {
    font-size: 1.4rem;
  }
}
